.inblock {
    display: inline-block;
}


/* Product card */

.card {
    height: 450px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.card img {
    width: 180px;
    height: 160px;
}

.card button {
    /* padding: 10px 10px; */
    border: none;
    font-size: 24px;
    width: 70px;
    background-color: white;
    height: 30px;
    text-align: center;
}

.card button:hover {
    border: none;
    border-radius: 25px;
    background-color: lime;
}

.town {
    font-weight: bolder;
}

.fiveday {
    position: absolute;
    bottom: 0;
    left: 25px;
    margin: 20px;
    /* padding-left: 20px; */
}

.fiveday img {
    width: 45px;
    height: 45px;
    /* border-right: 1px solid black; */
}

#suncloud {
    position: relative;
    bottom: 5px;
}



.centext {
    text-align: center;
}

hr {
    width: 50%;
}

button #car {
    width: 125px;
    height: 125px;
}

button {
    background-color: lime;
    border-radius: 50%;
    border: 2px solid gray;
}

#setupButton {
    width: 100px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 25px;
}

select {
    margin: 0 10px;
    background-color: lime;
    width: 80%;
    height: 35px;
    font-size: 15px;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
}


button,
input:focus,
button,
input:active {
    outline: none !important;
    box-shadow: none;
}

#icon {
    width: 146px;
    height: 150px;
}